{% extends "layout.html" %}

{% block body %}

        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div><center>
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">Welcome to Blog Post!</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on Nov 10, 2022 by Jeet Singh</div>
                            <!-- Post categories-->
                            
                        </header>
                        <!-- Preview image figure-->
                        <figure> <img  src="{{url_for('static', filename='img/home.jfif')}}" /></figure>
						</center>
                        <!-- Post content-->
						<!-- Todo post featch by the database.-->
						{% for post in posts %}
                        <section class="mb-5">
							<a href="/post/{{post.slug}}">
                            <p> <h1>{{post.title}}</h1></p>
							<p><h3>{{post.tagline}}</h3></p>
							</a>
							<p>Posted by Admin {{post.date}}</p>
							<p>{{post.content[0:150]}}...</p>
                      </section>
						{% endfor %}
                    </article>
                    <!-- Comments section-->
                    
                </div>
               
                </div>
            </div>
        </div>
{% endblock %}